@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,900);

.navbar
{
    margin-bottom: 0px;
}

.callouts
{
    padding-bottom: 25px;
    font-family: Raleway;
}

body
{
    color: #444444;
    font-family: Helvetica Neue;
    font-weight: 300;
}

.callouts h3
{
    margin-bottom: 0px;
    font-style: italic;
}

.callouts h2
{
    margin-top: 0px;
    letter-spacing: -1px;
}

.callout-1
{
    background: #045a81;
    color: #ffffff;
    padding: 10px 25px 25px 35px;
}

.callout-2
{
    background: #feb913;
    color: #ffffff;
    padding: 10px 35px 25px 25px;
}

.callout-3
{
    background: #332522;
    color: #ffffff;
    padding: 10px 25px 25px 35px;
}

.callout-4
{
    background: #d2361b;
    color: #ffffff;
    padding: 10px 25px 25px 35px;
}

.jumbotron
{
    margin-bottom: 0px;
    background: url(assets/images/fp-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    padding-top: 150px;
    text-transform: uppercase;
    background-attachment: fixed;
}

.jumbotron h1
{
    font-family: Raleway;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -2px;
    margin-bottom: 0;
    text-shadow: 0 0 1px #000;
}

.jumbotron .lead
{
    font-family: Raleway;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 300;
}

.jumbotron p
{
    font-family: Raleway;
    color: #fff;
    font-weight: 300;
    line-height: 22px;
    font-size: 16px;
}

.navbar-default
{
    background: transparent;
    border-bottom: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.fp-descriptions
{
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: lighter;
}

.fp-descriptions h1
{
    padding-bottom: 20px;
    font-weight: 200;
    text-transform: uppercase;
}

.services-two
{
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 35px;
}

.services-one
{
    margin-bottom: 35px;
    padding-bottom: 35px;
}

.styled
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.services-two i
{
    font-size: 74px;
    color: #c67002;
}

.services-one i
{
    font-size: 40px;
    color: #c67002;
    margin-right: 10px;
}

.btn-darkorange
{
    color: #c67002;
    font-size: 14px;
    font-family: Raleway;
    padding: 10px 20px;
    background-color: rgba(51, 51, 51, 0);
    border-color: #c67002;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-darkorange:hover
{
    color: #fff;
    text-decoration: none;
    background-color: #c67002;
    border-color: #b36603;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
}

.fp-left
{
    border-right: 5px solid #fff;
    z-index: 10;
}

.fp-right
{
    padding: 15px 0;
    z-index: 10;
}

.fp-right h3
{
    font-family: Raleway;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 35px;
}

.fp-right p
{
    font-size: 16px !important;
    font-weight: 500 !important;
}

.wire-button
{
    color: #fff;
    font-size: 15px;
    font-family: Raleway;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0);
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.wire-button:hover,
.wire-button-fa:hover
{
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}

.black-button
{
    color: #fff;
    font-size: 15px;
    font-family: Raleway;
    padding: 15px 30px;
    background-color: #222222;
    border-color: #111;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.black-button:hover
{
    color: #fff;
    text-decoration: none;
    background-color: rgba(34, 34, 34, 0.7);
    border-color: #111;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}

i.cover-icon
{
    margin-right: 15px;
}

.fp-left p
{
    text-transform: none;
    font-weight: lighter;
}

.services-two h3
{
    font-weight: 200;
    text-transform: uppercase;
}

.services-one h3
{
    font-weight: 200;
    text-transform: uppercase;
    font-size: 32px;
}

.padding-0
{
    padding: 0px;
}

.overlay
{
    background: transparent url("assets/images/overlay.png") repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.trending h1
{
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 0px;
}

.trending h3
{
    text-transform: uppercase;
    font-weight: 300;
}

.trending img
{
    padding-top: 20px;
}

.about h1
{
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 0px;
}

.about h3
{
    text-transform: uppercase;
    font-weight: 300;
}

.about img
{
    margin-top: 20px;
    border: 8px solid #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.about p
{
    font-weight: lighter;
    font-size: 16px;
}

.news h1
{
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 0px;
}

.news h3
{
    text-transform: uppercase;
    font-weight: 300;
}

.news h4
{
    text-transform: uppercase;
    font-weight: 300;
}

.news img
{
    margin-top: 20px;
    border: 8px solid #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    -webkit-filter: grayscale(0%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: 0.5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: 0.5s ease-in-out;
}

.news img:hover
{
    -webkit-filter: grayscale(100%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: 0.5s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: 0.5s ease-in-out;
}

.news p
{
    font-weight: lighter;
    font-size: 16px;
}

.news
{
    padding-bottom: 35px;
}

.quote
{
    padding-top: 65px;
    padding-bottom: 65px;
    background: url("assets/images/quote.jpg");
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
}

.quote h2
{
    text-align: center;
    font-style: italic;
    text-shadow: 0px 0px 1px #000;
}

.quote h4
{
    text-align: center;
    font-weight: 300;
    font-style: italic;
}

.trending
{
    padding-top: 35px;
    padding-bottom: 35px;
}

.team h1
{
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: -1px;
}

.team h2
{
    font-weight: 300;
}

.team h4
{
    font-weight: lighter;
    margin-top: 15px;
}

.team p
{
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 16px;
}

.team .fa
{
    margin-right: 10px;
}

.team-right
{
    margin-top: 25px;
}

.team-right img
{
    border: 8px solid #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    margin-top: 40px;
    -webkit-filter: grayscale(100%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: 0.5s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: 0.5s ease-in-out;
}

.team-right img:hover
{
    -webkit-filter: grayscale(0%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: 0.5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: 0.5s ease-in-out;
}

.team h3
{
    font-weight: 300;
    text-transform: uppercase;
}

.team
{
    padding-top: 35px;
    padding-bottom: 35px;
}

.builders h1
{
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: -1px;
}

.builders h2
{
    font-weight: 300;
}

.builders h4
{
    font-weight: lighter;
    margin-top: 15px;
}

.builders p
{
    font-weight: lighter;
    font-size: 16px;
}

.builders .fa
{
    margin-right: 10px;
}

.builders-right
{
    margin-top: 25px;
}

.builders-right img
{
    border: 8px solid #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    -webkit-filter: grayscale(100%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: 0.5s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: 0.5s ease-in-out;
}

.builders-right img:hover
{
    -webkit-filter: grayscale(0%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: 0.5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: 0.5s ease-in-out;
}

.builders h3
{
    font-weight: 300;
    text-transform: uppercase;
}

.builders
{
    padding-top: 35px;
    padding-bottom: 35px;
}

.trending p
{
    font-size: 16px;
    text-transform: lowercase;
    margin-top: 0px;
    padding-top: 0px;
    font-weight: lighter;
    padding-bottom: 15px;
}

.navbar-brand
{
    color: #fff !important;
    text-transform: uppercase;
    font-weight: lighter;
}

.section.subscribe
{
    padding-top: 15px !important;
    padding-bottom: 25px !important;
}

.subscribe
{
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subscribe h2
{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 12px;
}

.subscribe .subscribe-left
{
    padding-top: 12px !important;
}

.subscribe .subscribe-left .btn-block
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact
{
    padding-top: 35px;
    padding-bottom: 35px;
    background-repeat: no-repeat;
}

.contact h1
{
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: -1px;
    text-align: center;
}

.contact h3
{
    font-weight: 300;
    text-transform: uppercase;
}

.contact h4
{
    font-weight: lighter;
    font-size: 16px;
    margin: 5px 5px 15px;
}

.contact .fa
{
    margin-right: 10px;
}

.contact p
{
    font-weight: lighter;
    font-size: 16px;
}

.portfolio h1
{
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 0px;
}

.portfolio h3
{
    text-transform: uppercase;
    font-weight: 300;
}

.portfolio h4
{
    text-transform: uppercase;
    font-weight: 300;
}

.portfolio img
{
    margin-top: 20px;
    border: 8px solid #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    -webkit-filter: grayscale(0%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: 0.5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: 0.5s ease-in-out;
}

.portfolio img:hover
{
    -webkit-filter: grayscale(100%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: 0.5s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: 0.5s ease-in-out;
}

.portfolio p
{
    font-weight: lighter;
    font-size: 16px;
}

.portfolio
{
    padding-bottom: 35px;
}

.footer
{
    background-color: #333;
    padding: 25px 0 15px !important;
    color: #fff;
}

.footer a
{
    color: rgba(255,144,0,1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.footer a:hover
{
    text-decoration: none;
    color: rgba(255,144,0,0.6);
}

.navbar-custom a
{
    color: #fff;
    font-weight: Lighter;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navbar-custom .navbar-brand
{
    color: #ffffff;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus
{
    color: #e6e6e6;
    background-color: transparent;
}

.navbar-custom .navbar-text
{
    color: #ffffff;
}

.navbar-custom .navbar-nav > li:last-child > a
{
}

.navbar-custom .navbar-nav > li > a
{
    color: #ffffff;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus
{
    color: #ff9000;
    background-color: transparent;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus
{
    color: #ff9000;
    background-color: #333333;
}

.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus
{
    color: #cccccc;
    background-color: transparent;
}

.navbar-custom .navbar-toggle
{
    border-color: #dddddd;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus
{
    background-color: #dddddd;
}

.navbar-custom .navbar-toggle .icon-bar
{
    background-color: #cccccc;
}

.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form
{
    border-color: #323232;
}

.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret
{
    border-top-color: #ff9000;
    border-bottom-color: #ff9000;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus
{
    background-color: #333333;
    color: #ff9000;
}

.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret
{
    border-top-color: #ff9000;
    border-bottom-color: #ff9000;
}

.navbar-custom .navbar-nav > .dropdown > a .caret
{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

@media (max-width: 767)
{
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a
    {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus
    {
        color: #ff9000;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus
    {
        color: #ff9000;
        background-color: #333333;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus
    {
        color: #cccccc;
        background-color: transparent;
    }
}

.navbar-custom .navbar-link
{
    color: #ffffff;
}

.navbar-custom .navbar-link:hover
{
    color: #ff9000;
}

.fp-descriptions i:hover
{
    color: #444444;
}

.fp-descriptions i
{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-brand img
{
    width: 15px;
    margin-right: 10px;
    margin-top: -5px;
}

.subscribe .btn a:hover
{
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
    color: #a35c01;
}

a
{
    color: #c67002;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact a
{
    color: #444444;
}

.contact a:hover
{
    color: #c67002;
}

.pictures img
{
    -webkit-filter: grayscale(0%);
    -webkit-transition: 0.3s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: 0.3s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: 0.3s ease-in-out;
}

.pictures img:hover
{
    -webkit-filter: grayscale(100%);
    -webkit-transition: 0.3s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: 0.3s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: 0.3s ease-in-out;
}

.navbar-nav > li > .dropdown-menu
{
    background: #333;
    color: #fff;
}

.navbar-nav > li > .dropdown-menu a
{
    color: #fff;
    font-weight: lighter;
}

.navbar-nav > li > .dropdown-menu a:hover
{
    color: #444;
}

.dropdown-menu .divider
{
    background: #444;
}

#about .navbar-default
{
    background: #222;
}

#about .callouts
{
    margin-top: 50px;
    padding-bottom: 0px;
}

#about .callout-1
{
    padding: 2px;
}

#about .callout-2
{
    padding: 2px;
}

#about .callout-3
{
    padding: 2px;
}

#about .callout-4
{
    padding: 2px;
}

.about
{
    padding-bottom: 35px;
    background: url(assets/images/bg-1.png);
    background-repeat: repeat;
    background-size: cover;
}

.about h4
{
    font-weight: 300;
    text-transform: uppercase;
}

.contact label
{
    font-weight: 300;
    text-transform: uppercase;
}

.contact input
{
}

labe.control-label
{
}

label.control-label
{
    margin-top: 15px;
}

.contact-top
{
    background: url(assets/images/cover.jpg);
    background-repeat: repeat;
    background-size: cover;
    font-weight: lighter;
    background-attachment: fixed;
}

